/.metadata
/.git
target
/target

# Eclipse ficheros
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

# NetBeans ficheros
nbproject/private/
build/
nbbuild/

nbdist/
nbactions.xml
nb-configuration.xml

RemoteSystemsTempFiles/

carspa-services/.settings/
carspa-services/.classpath
carspa-services/.project
carspa-services/target/
