Servers/
/.svn
/.metadata
/.git
target
/target

# Eclipse ficheros
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

# NetBeans ficheros
nbproject/private/
build/
nbbuild/

nbdist/
nbactions.xml
nb-configuration.xml


/.project

carspa-dominio/.settings/
carspa-dominio/.classpath
carspa-dominio/.project
carspa-dominio/target/

carspa-dao/.settings/
carspa-dao/.classpath
carspa-dao/.project
carspa-dao/target/

carspa-services/.settings/
carspa-services/.classpath
carspa-services/.project
carspa-services/target/

carspa-sw/.settings/
carspa-sw/.classpath
carspa-sw/.project
carspa-sw/target/



