/.metadata
/.git
target
/target

# Eclipse ficheros
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

# NetBeans ficheros
nbproject/private/
build/
nbbuild/

nbdist/
nbactions.xml
nb-configuration.xml

RemoteSystemsTempFiles/

carspa-dominio/.settings/
carspa-dominio/.classpath
carspa-dominio/.project
carspa-dominio/target/